<div class="profile-container">
<div class="profile-header">
  <div class="navbar">
    <ul>
      <a href="#">Home</a>
      <a href="#">My Art</a>
      <a href="#">My Rooms</a>
    </ul>
  </div>
</div>
<div class="profile-body">

<p>hi</p>
<h1>test</h1>
</div>
<div class="profile-footer"></div>
</div>
