.login-container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.boxlogo {
  border-bottom-style: solid;
  width: 450px;

}
.logo{

}
#user_email {
  width: 120px;
  height: 35px;
  border-radius: 10px;
  border-style: none;
}
#user_password {
  width: 120px;
  height: 35px;
  border-radius: 10px;
  border-style: none;
}
#i1{
  margin-bottom: 10px;
}
.flex-outer {
  height: 250px;
  width: 450px;
  background-color: lightgrey;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.heading {
  font-size: 36px;
  color: red;
}
.flex-content {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
