.login-container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.boxlogo {
  border-bottom-style: solid;
  width: 450px;
  margin-bottom: 10px;
}

#user_email:hover {
  background-color: black;
  color: white;
}
#user_password:hover {
  background-color: black;
  color: white;
}

#user_email {
  height: 35px;
border-bottom: 1px solid black;
  /*background-color: lightgrey;*/
  display: flex;
}
#user_password {
border-bottom: 1px solid black;
  height: 35px;
  /*border-radius: 5px;*/
  /*border-style: none;
  background-color: lightgrey;*/
  display: flex;
}
#i1{
  margin-bottom: 10px;
}
.flex-outer {
  height: 250px;
  width: 450px;
  /*background-color: lightgrey;*/
  /*border-radius: 30px;*/
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.heading {
  font-size: 36px;
  color: red;
}
.flex-content {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
label {
  margin: 0 auto;
}
.actions {
  margin: 0 auto;
}
.field {
display: flex;
flex-direction: column;
margin-bottom: 10px;
}
.login-logo{
  margin-bottom: 10px;
}

.login-container a {
  text-decoration: none;
  color: black;
}

#login{
  text-decoration: none;
  color: black;
  border: none;
  background-color: white;
  font-size: 15px;
  outline: none;
}

#resetPass{
  text-decoration: none;
  color: black;
  border: none;
  background-color: white;
  font-size: 15px;
  outline: none;
}

#user-email{
  border: 1 px solid black;
  background-color: red;
  border-bottom: 1px solid black;
}

#user_password{
border-bottom: 1px solid black;
}

input  {

   /*background-position: 97% center;*/
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: black;
   margin: 20px;
   overflow: hidden;
   padding: 5px 10px;
   border-bottom: 1px solid black;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition-delay: 9999s;
    -webkit-transition: color: 9999s ease-out, background-color gray ease-out;
    -webkit-text-fill-color: black;
    -webkit-border-bottom: 1px solid black;
}





