body{
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Muli', sans-serif;
}

h1 {
  margin-left: 2px;
  padding: 1%;
  font-weight: bold;
}

h2 {
  margin-left: 5px;
  padding: 7px;
}

.artSearch{
  display: flex;
  flex-direction: column;
  align-self: center;
}

#keyword{
  width: 40vh;
  height: 5vh;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  margin-bottom: 6vh;
  font-size: 20px;
}

.artList{
  margin-top: 6vh;
}

.artList a {
  font-size: 15px;
  width: 10vh;
  word-wrap:break-word;
  text-decoration: none;
  color: black;
  /*border-bottom: 2px solid red;*/
}

.artList h3 {
  width: 40vh;
  word-wrap:break-word;
}


.artList img{
  width: 50vh;
  height: 50vh;
}


.roomsLinksContainer{
  font-size: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.createRoom{
  align-self: center;
  margin-bottom: 4vh;
}

.createRoom a{
  text-decoration: none;
  color: black;
  /*border-bottom: 2px solid red;*/
  width: 22vh;
}
.roomLink a{

  text-decoration: none;
  color: black;
  /*border-bottom: 2px solid red;*/
}

.roomLink{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

search{
   outline: none;
}

.showRoomName{
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-left: 2vh;
}

.showRoomName h1{
  align-self: center;
}

.showRoomName #art{
  width: 40%;
}

.showRoomName li{
  list-style-type: none;
}

.showRoomName a {
  text-decoration: none;
  color: black;
}

.deleteRoomButton{
  border: none;
  background-color: white;
  font-size: 15px;
  /*display: flex;*/
  align-self: center;
   outline: none;
}

.artsIndex{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.artsIndex img{
  width: 50vh;
  height: 50vh;
}

.artsIndex a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}

<<<<<<< HEAD
a:link {
  font-weight: semi-bold 600;
  color: #ababab;
}

a:visited {
  color:#585858;
=======
.newArtsRoom{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4vh;
}

.newArtsRoom #art{
  margin-bottom: 2vh;
  border: none;
  background-color: white;
  font-size: 14px;
}

.newArtsRoom input{
   border: none;
  background-color: white;
  font-size: 15px;
   outline: none;
}

.new_arts_room{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   outline: none;
}

.searchArt input{
   border: none;
  background-color: white;
  font-size: 15px;
   outline: none;
>>>>>>> afd0a4a8984022b60def354e6496c324ab5f32fa
}
