.search-container {
  background-color: #696d72;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.search-header {

}

.search-body {

}

.search-footer{

}
