* {
  margin: 0;
}
.profile-container {
  width: 100vw;
  height: 100vh;
}
.profile-header {
  height: 50px;
  width: 100%;
  padding-bottom: 10px;
}
.profile-body {
  display: flex;
  height: 90%;
  /*margin-bottom: 100px;*/
}
.profile-artside{
  flex:3;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5px;
}
.profile-roomside{
  flex: 1;
  /*border-style: solid;*/
  flex-wrap: wrap;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  border-left-style: solid;
  border-color: gray;
}
.navbar{
  border-bottom-style: solid;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
.navh {
  text-align: center;
  padding-top: 15px;
  flex: 1;
}

.navh:hover {
/*color: white;*/
text-align: center;
background-color: black;
text-decoration: none;
}

div.navh a:hover{
  color: white;
  text-decoration: none;
}
.navflex {
  flex: 3;
}
.small-logo{
  height: 50px;
  padding-right: 15px;

}
.profiles-img{
  width: 30%;
}
div.navbar a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
}
iframe {
  width: 100%;
  height: 50%;
  margin: 0 auto;
}
.flex-art {
width: 40%;
padding: 10px;
text-align: center;
margin: auto;
}
.flex-art:hover{
  background-color: lightgrey;
}
div.flex-art h1{
  font-size: 16px;
}

div.flex-art img {
  flex: 1;
}

.roomdiv{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  padding-bottom: 20px;
}
div.roomdiv iframe{
  margin-bottom: 10px;
}
div.roomdiv:hover{
  background-color: lightgrey;
  transition: all 0.5s ease;
}
.links {
  width: 100%;
  text-align: center;
}
div.links a {
  -moz-box-shadow: 3px 4px 0px 0px #899599;
    -webkit-box-shadow: 3px 4px 0px 0px #899599;
    box-shadow: 1px 2px 0px 0px #899599;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
    background: -moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background: -webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background: -o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background: -ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
    background-color: #ededed;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 52%;
    /* border: 1px solid #d6bcd6; */
    display: inline-block;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.56);
    font-family: Arial;
    font-size: 29px;
    padding: 7px 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #e1e2ed;
}
a {
  text-decoration: none;
}
