<div class="profile-header">
  <div class="navbar">
      <div class="navh">
        <%= link_to "Home", user_path %>
      </div>
      <div class="navh">
        <%= link_to "My Art", arts_path %>
      </div>
      <div class="navh">
        <%= link_to "My Rooms", rooms_path %>
      </div>
      <div class="navflex"></div>
    <%= image_tag('logoFINAL-2.svg', :class => "small-logo") %>
  </div>
</div>
