<!DOCTYPE html>
<html>
  <head>

    <!-- <% content_for :head do %>
      <% stylesheet_link_tag "style", "devise/" %>
    <% end %> -->
    <title>Apartment2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= yield %>
  </body>
</html>
