h1 {
  margin-left: 2px;
  padding: 1%;
  font-weight: bold;
}

h2 {
  margin-left: 2px;
  padding: 7px;
}

.room {
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    margin: 0 auto;
    min-height: 700px;
}

.bedroom {
    background: white center/cover url('bedroom.svg');
}

.living {
    background: white center/cover url("living.svg");
}

.palette {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25vh;
}

.content {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.colors {
    border: 1px solid black;
    margin-bottom: 15px;
}

.color {
    display: inline-block;
    margin: 6px;
    height: 30px;
    width: 30px;
}

.options {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.furniture {
    position: absolute;
    margin: 0 auto;
    top: 53vh;
    width: 370px;
}

.couch {
    padding-right: 1vw;
}

.frame {
    border: ;
    width: 13%;
}

.art {
    width: 100%;
}

.hidden {
    display: none;
}

a:link {
  font-weight: semi-bold 600;
  color: #ababab;
}

a:visited {
  color:#585858;
}